<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40443170471-a5g65m5djo68c2ddj0jg81galb3kdjse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40443170471-a5g65m5djo68c2ddj0jg81galb3kdjse</string>
	<key>API_KEY</key>
	<string>AIzaSyDRvSDzhN3MFBIXp4iqDRV5bqDcICAXGbg</string>
	<key>GCM_SENDER_ID</key>
	<string>40443170471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.fireBase1</string>
	<key>PROJECT_ID</key>
	<string>fir-1-d757c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-1-d757c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40443170471:ios:bc641061dfe4dccf2f1582</string>
</dict>
</plist>